<app-topnav></app-topnav>
<div class="container">
	<div class="row mt-6">
		<div class="col-12 text-center mt-4 mb-4">
			<h1>The Awesome <strong>Angular 2</strong> junior team</h1>
			<p>
				We are using <a href="https://developers.google.com/qpx-express/">Google QPX Express</a>, but the result are cached, 
				data <strong>is not relevant</strong>. This is a school project
			</p>
			<p>
				<a href="https://bitbucket.org/ng2nis/flights">bitbucket.org/ng2nis/flights</a>
			</p>
		</div>
		<div class="media col-md-6 col-sm-12" *ngFor="let student of students">
			<img class="d-flex mr-3 rounded-circle" src="https://api.adorable.io/avatars/64/{{student.email}}" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-1 mb-1">{{student.name}}</h5>
				<p>{{student.email}} </p>
			</div>
		</div>
	</div>
</div>