/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Glegoo', serif;
    color: #333;;
}

body,
html {
    /*height: 100%;*/
    /*width: 100%*/
}

body,
html {
    width: 100%
}
.btn,
.navbar-custom,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5
}

nav {
    border-bottom: 6px solid #FF9800;

}

.navbar {
    /*padding: 0;*/
}

a.nav-item.nav-link.active {
    background: #FF9800;
}

.mt-6 {
    margin-top: 4rem!important;
}

.hero {
    background-image: url('https://miff.me/flights/assets/images/bgr.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}


.flight-result-box {
    background: #fff;
}

.flight-result-box p {
    font-size: 13px;
    color: #333;
}



@media (max-width: 768px) {
.hidden-sm {
    display: none;
}
}