.home-box {
    color: #FF9800;
    margin-top: 8rem!important;
}

.flight-box {
    background-color: rgba(255, 152, 0, 0.25);
    padding: 1rem;
}

.flight-box-r {
    background-color: rgba(255, 152, 0, 0.25);
    padding: 0;
}

.engineOne {
    background-image: url('https://miff.me/flights/assets/images/engine2.jpg');
    background-size: cover;
    opacity: 1;
    transition: opacity 1s;
    padding: 1rem;
    height: 100%;
}

.engineTwo {
    background-image: url('https://miff.me/flights/assets/images/engine2.jpg');
    background-size: cover;
     opacity: 1;
     transition: opacity 1s;
}

.showOp {
    opacity: .5;
}

.form-control {
    border-radius: 0;
}

.input-group-addon {
    border-radius: 0;
}


.btn-warning {
    border-radius: 0;
}